*{
    margin: 0;
    padding: 0;
}
article{
    background:linear-gradient(to right,rebeccapurple, #6c2a7c );
   
}
h1{
    color: deepskyblue;
}
ul li{
    color: rebeccapurple;
}

#navbar{
    background-color: rgb(21,4,35);
   
    overflow: auto;
}
#navbar ul{
 list-style: none;
 float: right;
}
#navbar li{
    float: left;
}
#navbar ul li a{
    padding: 20px;
    text-align: center;
    color: rgb(211, 164, 64);
    display: block;
    text-decoration: none;
}
#navbar ul li a:hover{
    background-color: rgba(73, 53, 53, 0.842);
    border-radius: 15px;
}

#navbar li ul{
    display: none;
    position: absolute;
    min-width: 140px;
    background-color: rgba(41, 32, 32, 0.842) ;

}

#navbar li:hover > ul{
    display:block;
}
#navbar .Logo{
    float: left;
    padding: 10px;
}

.Contenedor{
    margin: 0;
    max-width: 1024px;
    padding: 0,20;
    overflow: auto;
    text-align: center;
 
}
.Logo{
    width: 110px;
    margin-left: 30px;
}
.Texto-menu{
    font-size: 1em;
    text-transform: uppercase;
}
#MostrarSlider{
    background-image: url("../IMGS/Portada.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;
    padding: 25px;
}
#MostrarSlider H1{
    padding: 30px;
    text-align: center;
    color:rgb(216, 197, 197);
   
}

.pregu{
    font-size:24px;
    color: aliceblue;
    text-align: center;
}
#MostrarSlider .Slider-DatosPersonales{
    background-color: rgba(34, 30, 37, 0.836);
    border-radius: 1em;
}

.cuerpo{
    padding: 100px 0px 0px 0px ;
    
    width: 1050px;
}


.part1{
  
   background-color: white;
   position: relative;
   left: 150px;

}

.intro{
 
    text-align: justify;
    color: rgb(0, 0, 0);
}


.Ima{
height: 400px;
width: 100%;
}

h5{
    text-align: center;
}

.part2{
padding: 150px 0px 0px 140px ;
position:relative;
height: 500px;
width: 1200px;
}

.defini{
    
color: wheat;
}


.section3{
    width: 100%;
    padding: 70px 0px 0px 0px;
}
.part3{
position: relative;
bottom: 85px;

}

.clasi{

    text-align: center;
    color: white;
}

.card-img-top{

    position: relative;
    height: 200px;
    width: 85%;
}

